# Python libraries and tools I use a lot.
#
# I keep these installed in my system Python's site packages so that
# they're available to non-project-specific REPLs and (usually) remain
# cached by pip.
dataset
django
docopt
flake8
flask
ipython
numpy
pandas
pdbpp
pillow
pip-tools
pipdeptree
pipsi
pp-ez
pprintpp
psycopg2 --no-binary psycopg2  # Required to use dataset with postgres
pygments
pytest
pyyaml
requests[security]
responder
scipy
sh
snakeviz
sqlparse
toml
tqdm
virtualenv  # Expected by direnv
